Repository os-autoinst/isotest-ng, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, isototest, isotomachine, isotoenv, documentation, code-quality, maintenance

Fix grammar mistake in lib.rs documentation
  isototest/src/lib.rs
Labels: none

Change library type of isototest to be cdylib
  isototest/Cargo.toml
Labels: dependencies, isototest

Add Makefiles to all libraries
  isotoenv/Makefile
  isotomachine/Makefile
  isototest/Makefile
Labels: isototest, isotomachine, isotoenv

Add build instructions to library readmes
  isotoenv/README.md
  isotomachine/README.md
  isototest/README.md
Labels: isototest, isotomachine, isotoenv

Update .editorconfig with Makefile target
  .editorconfig
Labels: none

Add drawio format to gitignore
  .gitignore
Labels: none

Add documentation
  docs/README.md
  docs/design_considerations.md
  docs/isotest-ng.png
  docs/isototest/about.md
Labels: documentation

Update import statement in isototest test module
  isototest/tests/test.rs
Labels: none

Update sample application
  vnc-test/src/main.rs
Labels: none

Fix cargo audit workflow by installing cargo audit command manually
  .github/workflows/audit.yml
Labels: none

.github/labeler.yml:

dependencies:
- Cargo.toml
- isototest/Cargo.toml
- isototest/Cargo.lock
- isotoenv/Cargo.toml
- isotoenv/Cargo.lock
- isotomachine/Cargo.toml
- isotomachine/Cargo.lock
- Cargo.lock

isototest:
- isototest/*

isotomachine:
- isotomachine/*

isotoenv:
- isotoenv/*

documentation:
- docs/**
- README.md
- LICENSE
- CODE_OF_CONDUCT.md
- CONTRIBUTING

code-quality:
- .pre-commit-hooks/*
- .pre-commit-config.yaml

maintenance:
- .github/*
